<script src="/static/js/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/persian-date@1.1.0/dist/persian-date.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/price_filter.js"></script>
<script src="/static/js/price_filter2.js"></script>
<script src="/static/swiper/swiper-bundle.min.js"></script>
<script src="/static/swiper/swiper.js"></script>
<script src="/static/icon/all.min.js"></script>
<script src="/static/js/birthday.js"></script>
<script src="/static/js/searchBox.js"></script>
